body{
    margin: 0;
    padding: 0;
}


.footer{

    background: #181f2e;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0   ;
}

.footer > h1{
    font-size: 1,7rem;
    padding: 0 0.5rem;
}

.one{
    display: flex;
    justify-content: space-between;
    margin: 0 0.5rem;
    border-bottom: 1.5px solid #303643;
}
.three{
    border-bottom: 1.5px solid #303643;
    height: 3rem;
}
.four{
    display: flex;
    justify-content: center;
    border-bottom: 1.5px solid #303643;
}

