body{
    margin: 0;
    padding: 0;
}

#divOne{

    background: #181f2e;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#divOne>h1{

    color: white;
    background: #fe7f32;
    width: fit-content;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
#divOne>a{

    color: white;
    background: #fe7f32;
    width: fit-content;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
#divOne>a:hover{

    color: white;
    background: black;
    width: fit-content;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
#divOne>p{

    color: white;
    width: fit-content;
    font-size: 2rem;
}